@model IEnumerable<ProjectWEB.Models.Usuarios>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.RouteLink(" Agregar Usuario", new { controller = "Usuarios", action = "Create" }, new { @class = "glyphicon glyphicon-plus col-lg-2 btn btn-success submit-button pull-right" })

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_completo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contrasena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_completo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario)
        </td>
        <td>
            ****************
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-primary glyphicon glyphicon-pencil" })
            @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-warning glyphicon glyphicon-eye-open" })
            @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger glyphicon glyphicon-remove" })
            
        </td>
    </tr>
}

</table>
