@model ProjectWEB.Models.Usuarios

@{Layout = null;}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>


    <link rel="stylesheet" href="~/Content/bootstrap.css" type="text/css" media="all" />

    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/content/css")
    <link rel="stylesheet" href="~/Content/login.css" type="text/css" media="all" />


</head>
<body>
    <div id="divlogin">
        <br />
        <nav class=" navbar navbar-default" id="barra">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                  
                    <a class="navbar-brand" @Html.ActionLink("Login", "Login", "Login")
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Opciones <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            
                            <li>@Html.ActionLink("Crear Usuario", "Create", "Login")
                    </li>
                </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
       </nav>

    <div class="row">

       @using (Html.BeginForm("login", "Login"))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                <h2 class="control-label col-md-3">Inicio de Sesion</h2>
                    <br />
                    <br />
                    <br />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
                <div class="form-group">
                    @Html.LabelFor(model => model.usuario, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.contrasena, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.contrasena, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.contrasena, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Inicio de Sesion" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            }
    </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")



</body>

</html>


